body {
    display: flex;
    padding-inline: 30px;
    justify-content: space-around;
    font-family: sans-serif;
    background-color: #005232;
    color: #fff;
}

.mainmenu {
    transition: opacity 1s linear;
}

@media (max-width: 767px) {
    body {
        display: block;
        width: fit-content;
        margin-inline: auto;
    }

    .wrap-pl-lists {
        margin-bottom: 90px;
    }
}

h2 {
    margin: 30px 0 0 0;
}

ul {
    margin: 0;
}

.clickable {
    color: #a0f;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.clickable:hover {
    color: #caf
}

.btn {
    color: #fff;
    margin: 30px 0 0 0;
    font-size: 1.2em;
    padding: 5px 10px;
    border: 0;
    background-color: #00794a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #500;
    color: #f00;
}

.attack {
    color: #f66
}

.bold {
    font-weight: bold;
}